* { margin: 0; padding: 0; box-sizing: border-box; }

ul { margin: 0 !important;} /* goddamnit bootstrap was this you */

.searchspan { margin: 0 !important; }

span[role=status] { display: none; }

ul.ui-autocomplete { 
	display: inline-block;
	border: 1px solid #ccc;
	 }
li.ui-menu-item {
	font-size: 0.85em;
	list-style-type: none; 
	background: white; 
	border-bottom: 1px solid #ddd;
	padding: 2% 2%;

	display: block;
	}

.green { color: green !important; }
/*thanks webdesignerdepot*/
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 24px;
    color: #fff;
    content: attr(qtitle);

    left: 0; 
    display: inline-block;

    font-size: 0.8em;

    padding: 4px 8px;
    position: absolute;
    z-index: 98;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 5px;
    position: absolute;
    z-index: 99;
}
/**/

li.ui-menu-item:hover {	background: green; cursor: pointer; }
li.ui-menu-item:hover a { color: white !important; }

label { padding: 1.5% 0%; display: block; }
label[for=searchbar], label[for=dropdown] { padding-top: 5%; font-size: 1em; }
a { text-decoration: none; 
	color: green; 
}
a:hover {opacity: 0.7; color: green !important; text-decoration: none; }

.link-toggle { border-bottom: 1px dotted green; }

div.prof { 
	font-size: 1.1em;
	text-align: left; 
	padding: 3% 4%;
	background: white;
	line-height: 1.6em;
	border: 1px solid #ccc;
	box-shadow: 0 0 20px #eee;

	margin: 3% auto;
	}


a.prof-link { text-decoration: none; color: #666; box-shadow: 0px;  }
a.prof-link > .prof:hover { opacity: 0.9; box-shadow: 0 0 20px #ccc; }
span.name { 
	color: #333; 
	font-weight: bold;
	font-size: 1.1em;
}

span.rating { font-size: 0.95em; }

/*copied*/
span.reviews-count { font-size: 0.8em; color: #999; }
.reviews-count:before { padding-left: 3px; content: ' ('; }
.reviews-count:after { content: ')'; }

span.dept { 
	margin-left: 2%;
	vertical-align: top;
	background: green; 
	border-radius: 6px; 
	padding: 0.25% 1.25%; 
	color: white; 
	font-weight: bold;
	text-transform: uppercase; 
	font-size: 0.7em;
}

/* end copied*/

.prof {
	width: 70%; margin: 0 auto; 
}


body { 
	font-family: Open Sans, sans-serif; 
	color: #555;
	background: #f9f9f9
	}

#container { 
	font-size: 1.1em;
	line-height: 2em;
}

input { font: 0.75em Open Sans, sans-serif }

span.searchspan { width: 100%; }
input#searchbar, input[type=button] { height: 50px; }


input#searchbar { 
	width: 85%;  
	margin: 1% 0%;
	padding-left: 6%;
	background: white url('search.png') no-repeat 2.5% 50%;
	border: 1px solid #bbb;

	font-size: 0.8em;
	border-right: 0px;
	 }


input[type=button] { 
	position: relative; 
	border-radius: 0px 5px 5px 0px;
	padding: 2%;
	left: -2px;
	border: 1px solid green;
	background: green;
	color: white;
	}
	

input[type=button]:hover { opacity: 0.7; cursor: pointer; }

#dropdown-container { }

select { 
	width: 40%;
	border: 1px solid #ccc;
	padding: 3.5% 2%;
	background: white;
	height: 100%; /* VERY important LOL otherwise padding obscures text */ 
	font: 0.85em Open Sans, sans-serif;
	color: #666;
}

#container { 
	position: absolute; top: 20%; left: 15%;

	width: 70%;
	margin: 0 auto;

	text-align: center;
	}

#search-container { width: 100%; }

option {
	padding: 1% 0%;
}



ul.reviews { 
	padding-top: 2%;
}

ul.reviews li { 
	text-align: left;
	width: 70%; margin: 2% auto;
	line-height: 1.5em;
	font-size: 0.8em;
	list-style-type: none;
	padding: 2%;
	background: white;
	border: 1px solid #ccc;
	color: #777;
	 }

ul.reviews li span.author { color: #333; }


ul.reviews li p { 
	margin: 1.5% 0%;
	padding: 0%;
	color: #888;
	border-left: 0px solid #ccc; /*2px*/
	font-size: 1.0em;
	width: 70%;
	text-align: left;
	  }

.review-spans { margin: 0; padding: 0 }
.review-spans span { font-size: 1em }

p.pleaselogin { padding: 4% 0% 8% 0%;}
p.message { padding: 2.5% 0% ; margin: 0 !important; }

.review-submit { 
	width: 70%; 
	margin: 0 auto; 
	border: 1px solid #ccc;
	border-bottom: 0;
	background: white;
	padding: 2% 4%;
	text-align: center;
}

form.comment-form { margin-bottom: 0px; }

.review-submit label { font-size: 1em; }
.review-submit {
	font-size: 0.8em;
	line-height: 1.3em;
	}

.rating-text {display: none;}

.rating-stars, .add-review { text-align: center; }
.add-review { padding-top: 5% }

.review-submit h4 { color: #333; }
.rating-stars { padding-top: 5px; color: #aaa; font-size: 2.8em !important; letter-spacing: -0.15em; }

label { margin: 0px !important }

label[for=anon], input[name=anon] { display: inline; padding-right: 5px; }

textarea[name=body] { width: 100%; height: 100px}

.edit-review { display: inline; float: right; }
.edit-review a { vertical-align: middle; opacity: 1; color: #aaa; font-size: 1.15em; }

.star-helper { 
	display: block; 
	color: #333; 
	font-size: 1.2em; 
	padding-bottom: 6%;
	}

p.text-of-review { padding: 0 !important; margin: 0 !important }